@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
}

header > picture > img {
  display: block;
  height: 12rem;
}

header > picture {
  display: inline-block;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(to bottom right, lightseagreen 50%, white 50%);
  padding: 1.5rem;
}

footer {
  display: flex;
  width: 100%;
  background-color: lightseagreen;
  padding: 1.5rem;
  gap: 1rem;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 22px;
}

svg {
  height: 16px;
}

.footer-content > div > svg {
  fill: white;
}

footer > * {
  color: white;
}

.footer-content > h1 {
  margin-bottom: 0.5rem;
}

.footer-text {
  margin: 1rem 0;
  font-size: 14px;
}

.footer-content > ul {
  font-size: 14px;
  color: white;
  fill: white;
}

li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.footer-content > .icons {
  display: flex;
  margin: 1rem 0;
  gap: 0.75rem;
}

.footer-image {
  max-width: 50%;
}

.footer-image > picture > img {
  width: 100%;
  display: block;
}

.icons {
  color: black;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: min(64rem, 100%);
  align-items: center;
}

.name {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

.about {
  padding: 1rem;
  background-color: white;
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.2);
}

.about > h1 {
  margin-bottom: 0.5rem;
}

.about > .icons {
  display: flex;
  gap: 0.75rem;
  justify-content: end;
}

.description {
  font-size: 14px;
  color: #454545;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
  gap: 1rem;
}

.project {
  height: 15rem;
  width: 12rem;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.projects-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 1rem;
  justify-items: center;
}

.project-name, .screenshot, .name {
  font-family: "Playfair Display", serif;
}

.project-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.project-name {
  font-size: 14px;
}

.project-icons {
  display: flex;
  gap: 0.5rem;
}

.project-info {
  padding: 0.5rem;
  gap: 0.5rem;
}

.project-description {
  font-size: 12px;
  color: #454545;
}

.screenshot {
  height: 60%;
  color: white;
  font-size: 20px;
  align-content: center;
  text-align: center;
  padding: 1.25rem;
}

.\31 {
  background-color: maroon;
}

.\32 {
  background-color: purple;
}

.\33 {
  background-color: darkgreen;
}

.\34 {
  background-color: violet;
}

.\35 {
  background-color: orange;
}

.\36 {
  background-color: lightskyblue;
}
