@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

ul {
  list-style-type: none;
}

header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: lightseagreen;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  z-index: -1;
}

.header-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: min(64rem, 100%);
}

.header-content > picture > img {
  width: 100%;
  display: block;
}

footer {
  display: flex;
  width: 100%;
  background-color: lightseagreen;
  justify-content: center;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 22px;
}

svg {
  height: 16px;
}

.footer-info > div > svg {
  fill: white;
}

footer > * {
  color: white;
}

.footer-content {
  display: flex;
  max-width: min(64rem, 100%);
  padding: 3rem;
}

.footer-text {
  margin: 2rem 0;
  font-size: 14px;
}

.footer-info > ul {
  font-size: 14px;
  color: white;
  fill: white;
}

li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.footer-info > .icons {
  display: flex;
  margin: 2rem 0;
  gap: 0.75rem;
  color: black;
}

.footer-info {
  padding-right: 1.5rem;
}

.footer-image {
  max-width: 50%;
}

.footer-image > picture > img {
  width: 100%;
  display: block;
}

.icons {
  display: flex;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  align-items: center;
}

.name {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.about {
  background: white;
  padding: 2rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}

.about > h1 {
  margin-bottom: 0.5rem;
}

.about > .icons {
  display: flex;
  gap: 0.75rem;
  justify-content: end;
}

.description {
  font-size: 14px;
  color: #454545;
  line-height: 1.75;
  text-align: left;
  margin-bottom: 0.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  width: min(64rem, 100%);
  padding: 3rem;
  gap: 1rem;
}

.project {
  height: 17rem;
  width: 100%;
  margin: 0 auto;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.projects-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  width: 100%;
}

.project-name, .screenshot, .name {
  font-family: "Playfair Display", serif;
}

.project-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.project-name {
  font-size: 14px;
}

.project-icons {
  display: flex;
  gap: 0.5rem;
}

.project-info {
  padding: 0.5rem;
  line-height: 1.25;
}

.project-description {
  font-size: 12px;
  color: #454545;
}

.screenshot {
  height: 60%;
  color: white;
  font-size: 20px;
  align-content: center;
  text-align: center;
  padding: 1.25rem;
}

.\31 {
  background-color: maroon;
}

.\32 {
  background-color: purple;
}

.\33 {
  background-color: darkgreen;
}

.\34 {
  background-color: violet;
}

.\35 {
  background-color: orange;
}

.\36 {
  background-color: lightskyblue;
}

@media (min-width: 799px) {
  .header-content {
    flex-direction: row;
    text-align: left;
    padding: 3rem;
    position: relative;
  }

  .header-content > picture {
    position: relative;
  }

  .about {
    max-width: 60%;
  }

  .name {
    position: absolute;
    bottom: 5rem;
    left: 4rem;
    z-index: 1;
  }
}

@media (max-width: 800px) {
  .projects-area {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .header-content {
    text-align: left;
    padding: 1rem;
    position: relative;
  }

  .header-content > picture {
    position: relative;
  }

  .name {
    position: absolute;
    top: 20rem;
    z-index: 1;
  }

  .about {
    margin: 0;
  }

  .about > h1 {
    text-align: center;
  }

  .projects-area {
    grid-template-columns: 1fr;
  }

  .main {
    align-items: center;
  }

  footer {
    padding: 0;
  }
  .footer-content {
    flex-direction: column;
    padding: 0;
  }

  .footer-info {
    padding: 1.5rem 1rem;
  }

  .footer-image {
    width: 100%;
  }

  .footer-image > picture > img {
    width: 100vw;
  }

  .footer-info > .icons {
    justify-content: center;
  }
}

@media (min-width: 400px) and (max-width: 799px) {
  .about {
    margin: 4rem 2rem 0 6rem;
    max-width: 75%;
  }

  .name {
    position: absolute;
    width: 100%;
    text-align: right;
    top: 3rem;
    right: 2.5rem;
    padding: 0 4rem;
    z-index: 2;
  }

  .header-content {
    display: flow-root;
  }

  .header-content > picture > img {
    width: clamp(0px, 40vw, 18rem);
    margin: 2rem 1rem 2rem 1rem;
    float: left;
  }

  .about > .icons {
    display: none;
  }

  .projects-area {
    gap: 3rem;
  }
}
